html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type='checkbox'],input[type='radio']{box-sizing:border-box;padding:0}input[type='number']::-webkit-inner-spin-button,input[type='number']::-webkit-outer-spin-button{height:auto}input[type='search']{-webkit-appearance:none}input[type='search']::-webkit-search-cancel-button,input[type='search']::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}


   body {
     font-family: Vollkorn, serif;
     color: #333;
     font-size: 16px;
     line-height: 20px;
   }
   
   h1 {
     margin-top: 10px;
     margin-bottom: 10px;
     font-size: 32px;
     line-height: 38px;
     font-weight: 700;
   }
   
   h2 {
     margin: 20px 20px;
     margin-top: 10px;
     font-family: Montserrat, sans-serif;
     font-size: 26px;
     line-height: 20px;
     font-weight: 400;
     text-align: center;
     text-transform: uppercase;
   }
   
   h3 {
     margin: 20px 20px 20px;
     font-family: Montserrat, sans-serif;
     font-size: 20px;
     line-height: 20px;
     font-weight: 400;
     text-transform: uppercase;
   }
   
   h4 {
     margin: 20px 20px;
     font-size: 22px;
     line-height: 24px;
     font-weight: 700;
   }
   
   h5 {
     margin: 20px 20px;
     font-size: 14px;
     line-height: 20px;
     font-weight: 700;
   }
   
   h6 {
     margin: 20px 20px;
     font-size: 12px;
     line-height: 18px;
     font-weight: 700;
   }
   
   p {
     margin-top: 20px;
     margin-bottom: 20px;
     margin: 30px 30px;
     font-family: Vollkorn, serif;
     font-size: 18px;
     line-height: 22px;
   }
   
   .header {
     padding: 98px 10px;
     background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(210, 43, 43, 0.7)), to(rgba(210, 43, 43, 0.7)));
     background-image: linear-gradient(180deg, rgba(210, 43, 43, 0.7), rgba(210, 43, 43, 0.7));
     color: #fff;
     text-align: center;
   }
   
   .header.project-page {
     padding-top: 77px;
     padding-bottom: 150px;
   }
   
   .main-heading {
     margin-top: 7px;
     font-family: Montserrat, sans-serif;
     font-size: 44px;
     line-height: 55px;
     font-weight: 700;
     text-transform: none;
   }
   
   .divider {
     display: block;
     width: 80px;
     height: 2px;
     margin: 20px auto;
     background-color: #fff;
   }
   
   .divider.grey {
     margin-bottom: 4px;
     background-color: rgba(0, 0, 0, 0.09);
   }
   
   .main-subtitle {
     font-family: Georgia, Times, 'Times New Roman', serif;
     color: hsla(0, 0%, 100%, 0.81);
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
   }
   
   .about-section {
     padding-bottom: 20px;
     background-color: #d8dee0;
     text-align: center;
   }
   
   .about-text {
     margin-bottom: 40px;
     color: #47474f;
     font-size: 20px;
     line-height: 25px;
   }
   
   .x-icon {
     margin-top: -26px;
     margin-bottom: 34px;
   }
   
   .section {
     display: block;
     padding-top: 69px;
     padding-bottom: 69px;
     background-color: #ece5e5;
     box-shadow: 1px 1px 3px 0 #000;
     text-align: center;
   }
   
   .section.grey {
     background-color: #f5f5f5;
   }
   
   .section.footer {
     background-color: #000;
   }
   
   .grey-icon-wrapper {
     margin-bottom: 38px;
     padding-top: 50px;
     padding-bottom: 50px;
     background-color: #f5f5f5;
   }
   
   .project-wrapper {
     position: relative;
     bottom: 0px;
     display: block;
     -webkit-transition: bottom 300ms ease;
     transition: bottom 300ms ease;
     color: #333;
     text-decoration: none;
   }
   
   .field {
     height: 57px;
     margin-bottom: 0px;
     padding-top: 17px;
     padding-bottom: 17px;
     border: 0px solid #000;
     background-color: hsla(0, 0%, 100%, 0.2);
     box-shadow: inset 3px 0 0 0 transparent;
     color: #7ec4bd;
     font-size: 18px;
     font-style: italic;
   }
   
   .field:focus {
     box-shadow: inset 3px 0 0 0 #7ec4bd;
   }
   
   .field.large {
     height: 127px;
   }
   
   .field.darker {
     background-color: hsla(0, 0%, 100%, 0.18);
     -webkit-transition: box-shadow 300ms ease;
     transition: box-shadow 300ms ease;
   }
   
   .form-wrapper {
     padding-right: 20%;
     padding-left: 20%;
   }
   
   .success-message {
     padding-top: 82px;
     padding-bottom: 82px;
     border-style: solid;
     border-width: 1px 1px 2px;
     border-color: #7ec4bd;
     background-color: transparent;
     color: #7ec4bd;
   }
   
   .project-info {
     margin-bottom: 20px;
     padding-top: 20px;
     padding-bottom: 20px;
     background-color: #fff;
   }
   
   .project-title {
     margin-bottom: 4px;
   }
   
   .grow-row {
     margin-bottom: 42px;
   }
   
   .screenshot {
     margin-bottom: 43px;
   }
   
   .face {
     margin-bottom: 10px;
     border-radius: 100%;
   }
   
   .heading {
     text-align: left;
     text-transform: none;
   }
   
   .rich-text-block {
     font-size: 18px;
     line-height: 22px;
     text-transform: none;
   }
   
   .image {
     float: right;
     margin-left: 10px;
     margin-right: 10px;
   }
   
   .image-2 {
     display: inline-block;
     margin-left: 10px;
     margin-right: 20px;
     overflow: visible;
     max-width: 100%;
     float: right;
     -o-object-fit: fill;
     object-fit: fill;
   }
   
   .image-3 {
     position: static;
     float: left;
   }
   
   .heading-2 {
     text-align: left;
   }
   
   .image-4 {
     display: inline-block;
     overflow: visible;
     max-width: 100%;
     float: right;
     -o-object-fit: fill;
     object-fit: fill;
